<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="./../static/css/style.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    
</head>
<body>
    <h1><span class="blue"></span>Get <span class="blue"></span> <span class="yellow">Prediction</pan></h1>

        <form method=post enctype=multipart/form-data>
        <div class="container">
                    <table class="container ">
                        

                       

                    <tbody>
                        <th>
                            <p class="title">
                                <span class="yellow">Uploada  Image</span>
                            </p>
                        </th>

                        <tr    >
                            <td  >
                                <label for="file">
                                    <span class="black">image</span>
                                </label>
                            </td>
                            <td>
                                <input type="file" name="file" id="file">
                            </td>
                        </tr>
                        <tr  >
                            <td>
                            <input style=" height:50px; border-radius: 20px; " type="submit" name="submit" value="Upload" class="button1"> </a>
                            </td>
                            

                        </tr>
                    </tbody>
                </table>
                
                {% if filename  %}
                <div class="container">
                <center>
                <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="img2">
                </center>
                
                </div>

                {% if res  %}
                    
                        
                <table class="container ">
                        

                       

                    <tbody>
                        
                        <tr    >
                            <td  >
                                <label for="file">
                                    <span class="yellow"> Image category is Number :- {{ res }} </span>
                                </label>
                            </td>
                           
                        </tr>
                        
                    </tbody>
                </table>
                        
                   
                    
                {% endif %}
                
                {% endif %}
                
                
            </div>
        </form>

		<form action="/uploads/{{filename }}" method="post">
           
            <!-- {% if filename  %}
            <div class="container">
            <center>
            <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="img2">
            </center>
            
                
            {% endif %} -->
            <table class="container ">
                <tbody>
                <tr  >
                    <td>
                    <input style=" height:50px; border-radius: 20px; " type="submit" name="submit" value="Predict" class="button1"> </a>
                    </td>

                </tr>
                    
                </tbody>
            </table> 
        </form>
            
               
        
        
</body>
</html>

    
  
    
</body>
</html>
